[Unit]
Description=Systemd timer to run picotick every hour
Requires=picotick.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target