[Unit]
Description=Run picotick fetch
Wants=picotick.timer

[Service]
Type=oneshot
ExecStart=/path/to/picotick fetch

[Install]
WantedBy=default.target